- name: HF Deploy
  env:
    HF_TOKEN: ${{ secrets.HF_TOKEN }}
  run: |
    pip install huggingface_hub
    python -c "from huggingface_hub import upload_folder; upload_folder(folder_path='.', path_in_repo='', repo_id='unique2504/farmsabi', token='$HF_TOKEN')"
