name: FarmSabi CI/CD
on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install -r requirements.txt huggingface_hub

      - name: Deploy to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          python -c "from huggingface_hub import upload_folder; \
          upload_folder(folder_path='.', path_in_repo='', repo_id='unique2504/farmsabi', token='$HF_TOKEN')"
